extends ../layout/index
block contenido
    //- Formas de mandar a llamar a la varible, con signo igual o con hash y llaves
        h1= pagina 
    
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        include ../layout/partials/viajes